@{
    ViewData["Title"] = "Page not found";
}
@inject IConfiguration Configuration
<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <p class="govuk-body">
        If you typed the web address, check it is correct.
    </p>
    <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
    </p>
    <p>Contact the <a href="@Configuration["ContactUsUrl"]" class="gov-link">Department for Education Customer Help Portal</a> for more help.</p>
</div>