@{
    ViewData["Title"] = "Sorry, the service is unavailable";
}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <p class="govuk-body">
        You will be able to use the service later.
    </p>
    <p>Contact the <a href="https://forms.office.com.mcas.ms/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-URYbNo1-R1EubHA0gNJis5UNjFaUzRMTEVPTVlaMFNFOVg1Q05PODg3Vi4u&amp;route=shorturl" class="gov-link"> Department for Education support desk</a> for more help.</p>
</div>