@{
    ViewData["Title"] = "Sorry, there is a problem with this service";
}
@inject IConfiguration Configuration
<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <p class="govuk-body">
        Try again later.
    </p>
    <p>Contact the <a href="@Configuration["ContactUsUrl"]" class="gov-link">Department for Education Customer Help Portal</a> for more help.</p>
</div>