.paragraph-add-margin-top {
    margin-top: 16px;
}

@media (min-width: 40.0625em) {
    .paragraph-add-margin-top {
        margin-top: 24px;
    }
}

.paragraph-add-margin-ingroup {
    margin-top: 16px;
    margin-bottom: 16px;
}

/*BEGIN - back button overrides */
.govuk-main-wrapper {
    display: block;
    padding-top: 5px;
    padding-bottom: 20px;
}

@media (min-width: 40.0625em) {
    .govuk-main-wrapper {
        padding-top: 5px;
        padding-bottom: 40px;
    }
}

.govuk-main-wrapper--auto-spacing:first-child,
.govuk-main-wrapper--l {
    padding-top: 5px;
}

@media (min-width: 40.0625em) {
    .govuk-main-wrapper--auto-spacing:first-child,
    .govuk-main-wrapper--l {
        padding-top: 5px;
    }
}

.govuk-back-link {
    font-size: 0.875rem;
    line-height: 1.14286;
/*    font-family: "GDS Transport", arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    text-underline-offset: 0.1578em;
    display: inline-block;
    position: relative;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-left: 0.875em;
    text-decoration: underline max(1px, 0.0625rem);
}

.govuk-back-link-nolink {
    font-size: 0.875rem;
    line-height: 1.14286;
/*    font-family: "GDS Transport", arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    text-underline-offset: 0.1578em;
    display: inline-block;
    position: relative;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-left: 0.875em;
    text-decoration: underline max(1px, 0.0625rem);
}

/*END - back button overrides */


/*BEGIN - Header account links */

#content-header .dfe-header__action-links a,
#content-header .dfe-header__action-links a:visited,
#content-header .dfe-header__action-links a:active {
    color: white;
    text-decoration: none;
}

    #content-header .dfe-header__action-links a:hover {
        text-decoration: underline;
    }

.govuk-pagination {
    justify-content: center;
}

/*END - Header account links */

/*BEGIN - dashboard card overrides */

.dfe-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #b1b4b6;
    max-width: 400px;
}

@media (max-width: 40.0525em) {
    .dfe-card {
        max-width: 100%;
    }
}

.dfe-card > picture,
.dfe-card > picture > img {
    max-width: 100%;
}

.dfe-card-container {
    padding: 24px !important;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-bottom: 0 solid #003a69;
}

    .dfe-card-container :last-child {
        margin-top: auto;
    }

    .dfe-card-container h2 + p:last-child,
    .dfe-card-container h3 + p:last-child {
        margin-top: 0px;
    }

.dfe-card:hover,
.dfe-card:focus-within {
    background-color: #003a69;
}

    .dfe-card:hover a,
    .dfe-card:focus-within a,
    .dfe-card:hover p,
    .dfe-card:focus-within p,
    .dfe-card:hover .govuk-heading-m,
    .dfe-card:focus-within .govuk-heading-m {
        color: #ffffff;
    }

.dfe-card:focus-within {
    outline: 3px solid #ffdd00;
}

.dfe-card-container .dfe-card-link--retake:focus,
.dfe-card-container .dfe-card-link--header:focus {
    color: #0b0c0c;
}

.dfe-card-link--retake {
    position: relative;
    z-index: 2;
}

.dfe-card-link--header {
    text-decoration: none;
    color: #347ca9;
}

    .dfe-card-link--header:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

.button-as-link-dfe-card-style {
    padding: 0;
    background: none;
    border: none;
    color: #1d70b8;
    font-weight: 700;
    text-align: left;
}

    .button-as-link-dfe-card-style:hover {
        color: #ffffff;
    }

/*END - dashboard card overrides */

/*BEGIN - Accessible dashboard card links */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*END - Accessible dashboard card links */


/* MENU ITEM */
.moj-button-menu__item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
}

    .moj-button-menu__item:last-child {
        margin-right: 0;
    }

/* END MENU ITEM */


/*BEGIN - Header overrides */

.dfe-header__container {
    padding: 0;
    padding-top: 20px;
}

.dfe-header__navigation {
    background-color: #003a69;
    display: block;
    margin: 0 auto;
    max-width: 1264px;
}

.dfe-header__navigation-link:visited {
    color: white;
}

.dfe-header__link--service {
    align-items: baseline;
    display: flex;
    -ms-flex-align: center;
    margin-bottom: 0;
    width: auto;
}

.dfe-header__navigation-list {
    border-top: 0px solid rgba(255, 255, 255, 0.2); /*HR Border between DfE logo and home link should not be visible*/
    display: flex;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
}

img, svg {
    vertical-align: baseline;
}

.dfe-header__navigation-item {
    border-top: 0
}

.dfe-header__service-name {
    max-width: 1264px;
    display: inline;
}

@media (max-width: 61.865em) {
    .dfe-header__service-name {
        padding-left: 10px;
        padding-top: 5px;
    }
}

.dfe-header__navigation-link {
    padding: 5px 10px;
}

@media (max-width: 48.0525em) {
    .dfe-header__logo {
        max-width: 100%;
    }
}

/*END - Header overrides */


/*BEGIN - Child Details form title width extention override */

@media (min-width: 40.0625em) {
    .govuk-summary-list__key {
        width: 45%; /*to fit NIN/ASRN title*/
    }
}

/*END - Child Details form title width extention override */


/*BEGIN - Remove whitespace from ApplicationDetailLA below name and actions */

.whitespaceDelete {
    margin-bottom: 0;
}

/*END - Remove whitespace from ApplicationDetailLA below name and actions */

/*BEGIN - Inline style replace for search all records design team customised styles */

.govuk-page-header-customisation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.govuk-heading-m-customisation {
    margin: 0;
}

/*END - Inline style replace for search all records design team customised styles */

/*BEGIN - Force thumbnail container width on Home/FSMFormDownload to avoid text overlap on page resize */

.fsm-image {
    min-width: 175px;
}

/*END - Force thumbnail container width on Home/FSMFormDownload to avoid text overlap on page resize */


/*BEGIN - Style a button as a link */

.button-as-link-style {
    background: none;
    border: none;
    color: #1d70b8;
    text-decoration: underline;
    cursor: pointer;
    /*    font-size: inherit;*/
}

/*END - Force thumbnail container width on Home/FSMFormDownload to avoid text overlap on page resize */

/*BEGIN - Align right and set correct margin for 'Remove' link on Evidence Upload Items */

.alignRight {
    text-align: right;
    display: block;
    margin-right: -5px;
}

/*END - Align right and set correct margin for 'Remove' link on Evidence Upload Items */


/*BEGIN - set dfe card width to match prototype */

@media (min-width: 40.0625em) {
    .dfe-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
}

/*END - set dfe card width to match prototype */


/*BEGIN - 224933 WF/2YO/EYPP - Update default fonts on childcare pages */

* {
    font-family: 'Inter', sans-serif !important;
}

/*END - 224933 WF/2YO/EYPP - Update default fonts on childcare pages */
