trigger:
  - main
    
pr: none

pool:
  name: Azure Pipelines
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  # Environment specific variables i.e. azure resource names, are defined in Azure DevOps UI. 

stages:
## -- Build Application Stage -- ##
  - template: templates/build-app-template.yml
    parameters:
      stageName: 'BuildApp'
      displayName: 'Build App'
## -- Deploy Application Stage -- ##

## -- Dev deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppDev'
      displayName: 'Deploy App Dev'
      deploymentName: 'devdeploy'
      environment: 'DEV'
      azureSubscription: $(subscriptionDev)
      webAppName: $(webAppNameDev)
      prefix: 's203d01'
## -- Dev deploy -- ##

## -- Dev cypress tests -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsDevEnv'
      stageDisplayName: 'Run Cypress Tests On Dev Env'
      jobName: 'SetUpCypressDevEnv'
      jobDisplayName: 'Set Up Tests For Dev Env'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_DEV)'
      prefix: 's203d01'
## -- Dev cypress tests -- ##

## -- Test deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppTest'
      displayName: 'Deploy App Test'
      deploymentName: 'testdeploy'
      environment: 'TEST'
      azureSubscription: $(subscriptionTest)
      webAppName: $(webAppNameTest)
      prefix: 's203t01'
## -- Test deploy -- ##

## -- Test cypress tests -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsTestEnv'
      stageDisplayName: 'Run Cypress Tests On Test Env'
      jobName: 'SetUpCypressTestEnv'
      jobDisplayName: 'Set Up Tests Test Env'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_TEST)'
      prefix: 's203t01'
## -- Test cypress tests -- ##

## -- Pre-prod deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppPP'
      displayName: 'Deploy App Pre-prod'
      deploymentName: 'ppdeploy'
      environment: 'PRE-PROD'
      azureSubscription: $(subscriptionPreProd)
      webAppName: $(webAppNamePreProd)
      prefix: 's203t02'
## -- Pre-prod deploy -- ##

## -- Pre-prod cypress tests -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsPpEnv'
      stageDisplayName: 'Run Cypress Tests On Pre-Prod Env'
      jobName: 'SetUpCypressPpEnv'
      jobDisplayName: 'Set Up Tests Pp Env'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_PP)'
      prefix: 's203t02'
## -- Pre-prod cypress tests -- ##

## -- Prod deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppProd'
      displayName: 'Deploy App Production'
      deploymentName: 'prodDeploy'
      environment: 'PROD'
      azureSubscription: $(subscriptionProd)
      webAppName: $(webAppNameProd)
      prefix: 's203p01'
## -- Prod deploy -- ##