trigger:
  - main
    
pr: none

pool:
  name: Azure Pipelines
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
## -- Build Application Stage -- ##
  - template: templates/build-app-template.yml
    parameters:
      stageName: 'BuildApp'
      displayName: 'Build App'
## -- Deploy Application Stage -- ##

## -- Dev deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppDev'
      displayName: 'Deploy App Dev'
      deploymentName: 'devdeploy'
      environment: 'DEV'
      azureSubscription: 's203d.azdo.deployment'
      webAppName: 'ece-dev-as-childcare-admin'
## -- Dev deploy -- ##

## -- Dev cypress tests -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsDevEnv'
      stageDisplayName: 'Run Cypress Tests On Dev Env'
      jobName: 'SetUpCypressDevEnv'
      jobDisplayName: 'Set Up Tests For Dev Env'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_DEV)'
## -- Dev cypress tests -- ##

## -- Test deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppTest'
      displayName: 'Deploy App Test'
      deploymentName: 'testdeploy'
      environment: 'TEST'
      azureSubscription: 's203t.azdo.deployment'
      webAppName: 'ece-test-as-childcare-admin'
## -- Test deploy -- ##

  - stage: RunCypressTestsTestEnv
    displayName: Run Cypress Tests On Test Env
    jobs:
    - job: 'SetUpCypressTestEnv'
      displayName: 'SetUpTestsTestEnv'
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Bash@3
        inputs:
          targetType: inline
          script: |
           cd tests
           npm install
      - task: Bash@3
        displayName: 'RunTests'
        inputs:
         targetType: inline
         script: |
          cd tests
          export CYPRESS_BASE_URL="$(CYPRESS_BASE_URL_TEST)"
          export CYPRESS_DFE_ADMIN_EMAIL_ADDRESS="$(DFE_ADMIN_EMAIL_ADDRESS)"
          export CYPRESS_DFE_ADMIN_PASSWORD="$(DFE_ADMIN_PASSWORD)"
          npm run adminE2e:electron
      - task: Bash@3
        condition: always()
        displayName: 'Generate report'
        inputs:
         targetType: inline
         script: |
          cd tests
          npm run combine:reports
      - task: PublishBuildArtifacts@1
        displayName: 'Publish Cypress Screenshot Files'
        condition: failed()
        inputs:
          PathtoPublish: 'tests/cypress/screenshots/'
          ArtifactName: 'screenshots'
      - task: PublishTestResults@2
        condition: always()
        displayName: 'Publish test results'
        inputs:
         testResultsFiles: '**/combined-report.xml'
         searchFolder: 'tests'

## -- Pre-prod deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppPP'
      displayName: 'Deploy App Pre-prod'
      deploymentName: 'ppdeploy'
      environment: 'PRE-PROD'
      azureSubscription: 's203t.azdo.deployment'
      webAppName: 'ece-pp-as-childcare-admin'
## -- Pre-prod deploy -- ##

  - stage: RunCypressTestsPpEnv
    displayName: Run Cypress Tests On Pre-Prod Env
    jobs:
      - job: 'SetUpCypressPpEnv'
        displayName: 'SetUpTestsPpEnv'
        pool:
          vmImage: ubuntu-latest
        steps:
          - task: Bash@3
            inputs:
              targetType: inline
              script: |
                cd tests
                npm install
          - task: Bash@3
            displayName: 'RunTests'
            inputs:
              targetType: inline
              script: |
                cd tests
                export CYPRESS_BASE_URL="$(CYPRESS_BASE_URL_PP)"
                export CYPRESS_DFE_ADMIN_EMAIL_ADDRESS="$(DFE_ADMIN_EMAIL_ADDRESS)"
                export CYPRESS_DFE_ADMIN_PASSWORD="$(DFE_ADMIN_PASSWORD)"
                npm run adminE2e:electron
          - task: Bash@3
            condition: always()
            displayName: 'Generate report'
            inputs:
              targetType: inline
              script: |
                cd tests
                npm run combine:reports
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Cypress Screenshot Files'
            condition: failed()
            inputs:
              PathtoPublish: 'tests/cypress/screenshots/'
              ArtifactName: 'screenshots'
          - task: PublishTestResults@2
            condition: always()
            displayName: 'Publish test results'
            inputs:
              testResultsFiles: '**/combined-report.xml'
              searchFolder: 'tests'

## -- Prod deploy -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppProd'
      displayName: 'Deploy App Production'
      deploymentName: 'prodDeploy'
      environment: 'PROD'
      azureSubscription: 's203p.azdo.deployment'
      webAppName: 'ece-as-childcare-admin'
## -- Prod deploy -- ##