@using CheckChildcareEligibility.Admin.Domain.Constants.Generic
@model CheckChildcareEligibility.Admin.ViewModels.WorkingFamiliesResponseViewModel

@{
    string bannerReconfirmationMessage = Model.GetBannerReconfirmationMessage();
}

<div class="govuk-panel govuk-panel--@Model.BannerColour govuk-!-margin-bottom-7">
    <h1 class="govuk-panel__title">
        @Model.CodeType @Model.CodeStatus
    </h1>
    <div class="govuk-panel__body govuk-!-margin-bottom-5">
        @Model.TermValidityDetails 
        @{
           if(!Model.IsReconfirmed) {@Model.TermInfo}
        }
    </div>
    <div class="govuk-body-l govuk-!-margin-bottom-0">
        @bannerReconfirmationMessage
    </div>
</div>