@{
    ViewData["Title"] = "Unauthorized Organization";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">You do not have access to this service</h1>
    <p>This service is for users at local authorities.</p>
    <p>Contact the <a href="https://forms.office.com.mcas.ms/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-URYbNo1-R1EubHA0gNJis5UNjFaUzRMTEVPTVlaMFNFOVg1Q05PODg3Vi4u&amp;route=shorturl" class="gov-link"> Department for Education support desk</a> for more help.</p>
</div>
